/*
 * MediaBox styles
 */
.container {
 	padding-top: 30px;
 	padding-bottom: 100px;
 }

.navbar-brand {
	border-right: 1px solid #666;
}

.dropdown-menu {
	width: 200px;
}

.dropdown-login {
 	width: 300px;
 	padding: 17px;
 }

 .edituser-info {
 	font-size: 16px !important;
 }

.media-list .list-group li {
    list-style: none;
}

.media-list .btn-group-vertical > a .btn {
	margin-bottom: 10px;
	border-radius: 10px !important;
}

/*
 * TODO: Broken for mobile, tablet
 */
.media-header {
	padding-bottom: 10px
}

.media-header .carousel-caption {
	left: 0;
	right: 0;
	bottom: 0px;
	height: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
}


.media-header .carousel-caption .col-md-3 {
	top: -20px;
}

.media-header .carousel-caption .row {
	margin-right: 0px;
}

@media (max-width: 970px) {
	.carousel-caption .col-md-3 img {
		display: none;
	}
}

.media-history .panel-body .table {
	text-align: center;
}

.stream-information .header {
	text-align: center;
}

.stream-information .modal-footer {
	text-align: center;
}

.media-list .thumbnail .caption > h3 {
	text-align: center;
}

.media-list .panel-body .ep-number {
	text-align: center;
	width: 5%;
}

.media-list .panel-body .ep-name {
	text-align: center;
	width: 20%;
}

.media-list .panel-body .ep-summary {
	text-align: center;
	width: 70%;
}

.media-list .clickable:hover {
    cursor: pointer;
}

/*
 * Film Roll Styles
 */
 .film_roll_wrapper {
 	display: block;
 	text-align: center;
 	float: none;
 	position: relative;
 	top: auto;
 	right: auto;
 	bottom: auto;
 	left: auto;
 	z-index: auto;
 	width: 100%;
 	margin: 0 !important;
 	padding: 0 !important;
 	overflow: hidden;
 	width: 100%;
 }
 .film_roll_shuttle {
 	text-align: left;
 	float: none;
 	position: relative;
 	top: 0;
 	left: 0;
 	right: auto;
 	bottom: auto;
 	margin: 0 !important;
 	padding: 0 !important;
 	z-index: auto;
 }
 .film_roll_shuttle.vertical_center:before {
 	content: '';
 	display: inline-block;
 	height: 100%;
 	vertical-align: middle;
 	margin-right: -0.25em;
 }
 .film_roll_child {
 	position: relative;
 	display: inline-block;
 	*display:inline;
 	vertical-align:middle;
 	zoom:1;
 	padding-right: 10px;
 }
 .film_roll_prev, .film_roll_next {
 	position: absolute;
 	top: 48%;
 	left: 15px;
 	width: 40px;
 	height: 40px;
 	margin: -20px 0 0 0;
 	padding: 0;
 	font-size: 60px;
 	font-weight: 100;
 	line-height: 30px;
 	color: white;
 	text-align: center;
 	background: #222;
 	border: 3px solid white;
 	border-radius: 23px;
 	opacity: 0.5;
 }
 .film_roll_prev:hover, .film_roll_next:hover {
 	color: white;
 	text-decoration: none;
 	opacity: 0.9;
 }
 .film_roll_next {
 	left: auto;
 	right: 15px;
 }
 .film_roll_pager {
 	text-align: center;
 }
 .film_roll_pager a {
 	width: 5px;
 	height: 5px;
 	border: 2px solid #333;
 	border-radius: 5px;
 	display: inline-block;
 	margin: 0 5px 0 0;
 	transition: all 1s ease;
 }
 .film_roll_pager a:hover {
 	background: #666;
 }
 .film_roll_pager a.active {
 	background: #333;
 }
 .film_roll_pager span {
 	display: none;
 }
 .film_roll_pager a, a.film_roll_prev, a.film_roll_next {
 	-webkit-box-sizing: content-box;
 	-moz-box-sizing: content-box;
 	box-sizing: content-box;
 }